@media (max-width:767px){
	
	
	
}

@media (min-width:768px){
	#box-chat{
  		width: 200px;
	}
	#chat-output{
  		height: 80px;
  		font-size: 12px;
	}
	#chat-output > ul{
		height: 70px;	
	}
	#chat-input,#chat-btn{
		height: 25px;
	}
	#chat-input{
  		width: 140px;
  		font-size: 14px;
	}
	#chat-btn{
		width: 50px;
		padding: 1px;
	}
	.chat-title{
		font-size: 14px;
	}
	
}

@media (min-width:922px){
	#box-chat{
  		width: 300px;
	}
	#chat-output{
  		height: 100px;
  		font-size: 12px;
	}
	#chat-output > ul{
		height: 90px;	
	}
	#chat-input,#chat-btn{
		height: 25px;
	}
	#chat-input{
  		width: 240px;
  		font-size: 14px;
	}
	#chat-btn{
		width: 50px;
		padding: 1px;
	}
	.chat-title{
		font-size: 14px;
	}
	
}
@media (min-width:1200px){
}
@media (min-width:1400px){
	
	#box-chat{
  		width: 400px;
	}
	#chat-output{
  		height: 170px;
	}
	#chat-output > ul{
		height: 160px;	
	}
	#chat-input,#chat-btn{
		height: 30px;
	}
	#chat-input{
  		width: 310px;	
  		font-size: 16px;
	}
	#chat-btn{
		width: 80px;
	}
	.chat-title{
		font-size: 18px;
	}
}
