

@media (min-width:1400px){

}



@media (min-width:1200px){
	#menu{		
		right: -300px;
		width: 300px;
	}
	#chatOutput{
		height: 150px;
	}

}



@media (min-width:992px){

}



@media (min-width:768px){

}